<%- include('./components/head') %> <%- include('./components/navbar') %>
<table class="table">
  <thead>
    <tr>
      <th scope="col text-center">No.</th>
      <th scope="col text-center">Name</th>
      <th scope="col text-center">Age</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < peserta.length; i++) { %>
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= peserta[i].nama %></td>
      <td><%= peserta[i].umur %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<form action="peserta/redirect" method="post">
  <div class="container my-3 bg-light">
        <div class="col-md-12 text-center">
            <input type="submit" class="btn btn-primary" value="Redirect To instructor"></input>
    </div>
  </button>
</form>
